
#array-container{
    text-align: center;
}

.array-bar{
    width: 2px;
    margin: 0 1px;
    display: inline-block;
    background-color: black;
}

#generate-array{
    max-width: 80%;
    width: 150px;
    margin-bottom: 5px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    margin: 5px 50px auto;
}

